.navbar{

    color: white;
    height: 60px;
   
    /* border-bottom: 1px solid blue; */
    display: flex;
    align-items: center;
    background-color: navy;
    position: sticky;
    
  
}

.navbar_left {
    /* border: 3px solid red; */
    display: flex;
    
    flex-wrap: nowrap;
    
    width: auto;
    color: white;
    
    margin-left: 15px;
}

.lp {
    display: flex;
    flex-wrap: nowrap;
    

}

.lp > p{
    
    font-weight: bold;
    font-size: 20px;
    padding: 20px 16px;
}

.lp > p:hover {
    background-color: rgb(199, 174, 34);
    cursor: pointer;
   
    
}

@media only screen and (max-width: 500px){
    .lp > p {
        font-size: 10px;
        font-weight: bold;
       
    }

    .yimage {
        margin: 5px;
        height: 2px;
        width: 2px;
    }

    .yrimg {
        height: 2px;
        width: 2px;
        margin: 5px
    }
}

.yimage {
    margin: 15px;
    margin-left: 0px;
    height: 25px;
    width: 25px;
}

.yrimg {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
 
}

.h-link{
    text-decoration: none;
    color: white;

}


.navbar_right {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    margin-right: 30px;
    
}


